<template>
  <v-app>

    <v-app-bar app>

      <v-app-bar-title>VUE Md Preview Demo</v-app-bar-title>
      <v-tooltip text="Toggle Theme">
        <template v-slot:activator="{ props }">
          <v-btn icon="mdi-theme-light-dark" @click="toggleTheme" v-bind="props"></v-btn>
        </template>
      </v-tooltip>
      <v-tooltip text="Source Code">
        <template v-slot:activator="{ props }">
          <v-btn icon="mdi-gitlab" @click="openGitlab" v-bind="props"></v-btn>
        </template>
      </v-tooltip>

    </v-app-bar>
    
    <v-main>
      <MarkdownEditor />
    </v-main>

  </v-app>
</template>

<script setup lang="ts">

  import { ref, onMounted } from 'vue';
  import { useTheme } from 'vuetify'
  import MarkdownEditor from '@/components/MarkdownEditor.vue'

  const theme = useTheme()  
  const isDark = ref(false)

  onMounted(() => {
    document.title = "Md Preview"
  })

  const toggleTheme = () => {
    isDark.value = !isDark.value;
    theme.global.name.value = isDark.value ? 'dark' : 'light'
  }

  const openGitlab = () => {
    window.open('https://gitlab.com/dyson-liu-service/vue-md-preview', '_blank');
  }  

</script>
